@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap'); 

body {
    margin: 0%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(assets/fundooutrastelas.jpg);
    background-size: cover;
    font-family: 'Open Sauce', sans-serif;
    height: 100vh;
}

header img {
    width: 20%;
}

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

a {
    text-decoration: none;
    color: white;
    margin-right: 5%;
    font-size: 15pt;
}

a:hover {
    transition: 1s;
    color: rgb(196, 196, 24);
}

nav {
    display: flex;
    width: 100%;
    margin-top: 3.5%;
    margin-left: 40%;
}

main {
    color: white;
    margin-left: 4%;
    margin-top: 8%;
}

h2 {
    color: white;
    font-size: 24px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px;
    margin: 5px 0;
    width: 20%;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

ul li:hover {
    background-color: rgba(255, 217, 0, 0.9);
    color: black;
    transition: 2s;
}

ul a:hover{
    color: black;
}
